<div class="main-containner">
  <div fxlayout="row">
    <div fxFlex="0 1 calc(33.3% - 32px)">
      <div class="jdb-logo">
        <img src="./assets/img/JDB_Logo.png" alt="" class="jdblogo" style="width: 50%">
      </div>
      <br>
    </div>
    <div fxFlex="1 1 calc(36.3% - 32px)">
      <div class="unitService">
        <div>
          ໜ່ວຍບໍລິການ:
          <span style="color:rgb(255, 230, 0)"></span>
        </div>
        <div>
          ຜູ້ໃຊ້ລະບົບ:
          <span style="color:rgb(255, 230, 0)"></span>
        </div>
      </div>
      <div class="logout_div">
        <button mat-stroked-button class="btn_logout">
          <i class="fas fa-sign-out-alt"></i> ອອກຈາກລະບົບ</button>
      </div>
    </div>
  </div>
</div>
