.main-content {
   margin: 2% 2% 2% 2%;

}
.first-report {
    background-color: cornflowerblue;
    text-align: center;
    padding: 2%;
    box-shadow: 1px 1px 1px 1px #566575;
    cursor: pointer;
    width: 100%
}

.first-report:hover {
    background-color: rgb(235, 237, 100);
    text-align: center;
    padding: 2%;
    box-shadow: 1px 1px 1px 1px #566575;
    cursor: pointer;
    transition: all .6s ease-in-out
}
.second-report {
    background-color: rgb(100, 237, 196);
    text-align: center;
    padding: 2%;
    box-shadow: 1px 1px 1px 1px #566575;
    cursor: pointer;
    width: 100%
}

.second-report:hover {
    background-color: rgb(76, 139, 131);
    text-align: center;
    padding: 2%;
    box-shadow: 1px 1px 1px 1px #566575;
    cursor: pointer;
    transition: all .6s ease-in-out
}

@media all and (max-width: 600px) {
    .first-report {
        font-size: 12px;
    }
    .second-report {
        font-size: 12px;
    }
}

